
<footer id="super-footer" class="bg-primary text-white mt-5">
    <div class="container">
        &copy;{{ "now"|date("Y") }} ENI <img class="footer-logo" src="{{ asset('img/logo_sortir_eni') }}" alt="sortir.com logo">
    </div>
</footer>