
<footer id="super-footer" class="mt-5">
    <div class="container">
        &copy;{{ "now"|date("Y") }} ENI - Tous droits réservés<img class="footer-logo" src="{{ asset('img/logo_sortir_eni.png') }}" alt="sortir.com logo">
    </div>
</footer>