
<footer class="card-footer footer text-center mt-5">
        <img class="footer-logo" src="{{ asset('img/logo_sortir_eni.png') }}" alt="sortir.com logo">
        <p class="mb-0">&copy;{{ "now"|date("Y") }} ENI - Tous droits réservés</p>
</footer>