{% extends 'base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}
<div id="title" class="text-center mt-3">
    <h1>Page d'administration</h1>
</div>

    <div class="container text-center">

        <div class="btn-group mt-4" role="group" aria-label="Basic example">
            <a type="button" class="btn btn-primary rounded-pill me-3 px-4" href="{{ path('app_campus') }}">Gérer les campus</a>
            <a type="button" class="btn btn-secondary rounded-pill me-3 px-4">Gérer les villes</a>
            <a href="{{ path('utilisateur_liste') }}" class="btn btn-success rounded-pill px-4k">Gérer les utilisateurs</a>
        </div>
    </div>
{% endblock %}
