{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="display-4 fw-bold">Page d'administration</h1>

        <div class="btn-group mt-4" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary rounded-pill me-3 px-4">Gérer les campus</button>
            <button type="button" class="btn btn-secondary rounded-pill me-3 px-4">Gérer les villes</button>
            <button type="button" class="btn btn-success rounded-pill px-4">Gérer les utilisateurs</button>
        </div>
    </div>
{% endblock %}
