{% extends './base.html.twig' %}

{% block title %}Sortir - Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="d-flex justify-content-end">
            <div class="text-end">
                <p>Date du jour : </p><p id="date-du-jour"></p>
                <p>Participant : </p>{#{{ utilisateur.pseudo }}#}
            </div>
        </div>
    </div>

{% endblock %}