{% extends './base.html.twig' %}

{% block title %}Sortir - Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row d-flex justify-content-end">
            <div class="col-sm-11 text-end">
                <p>Date du jour : </p>
            </div>
            <div class="col-sm-1">
                {{ "now"|date("d/m/Y") }}
            </div>
        </div>

        <div class="row d-flex justify-content-end">
            <div class="col-sm-11 text-end">
                <p>Participant : </p>
            </div>
            <div class="col-sm-1">
                {{ utilisateur.pseudo }}
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h3>Filtrer les sorties</h3>
    </div>


{% endblock %}